<form [formGroup]="messageForm">
  <div class="mb-3">
    <select
      class="form-select"
      aria-label="Select User"
      formControlName="recipientUser"
    >
      <option selected>Select User</option>
      @for (user of userList; track $index) {
      <option value="{{ user.id }}">{{ user.username }}</option>
      }
    </select>
  </div>
  <div class="mb-3">
    <label for="messageTxt" class="form-label">Message</label>
    <textarea
      formControlName="messageContent"
      class="form-control"
      id="messageTxt"
      rows="5"
    ></textarea>
  </div>
  <p-button
    (onClick)="goHome()"
    label="Cancel"
    text="true"
    raised="true"
    severity="danger"
  ></p-button>
  <p-button
    (onClick)="sendMessage()"
    label="Send Message"
    text="true"
    raised="true"
    severity="info"
  ></p-button>
</form>
